/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: Open Sans, sans-serif;
}

/* buttons */
input[type=button]{
  background-color: hsl(224, 93%, 58%);
  padding: 4px 20px;
  border-radius: 5px;
}

/* logo and navigation part */
nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  max-width: 1440px;
  align-items: center;
}
nav div a{
  padding: 20px;
  width: 13.89%;
  /* background-color: red; */
}
nav img{
padding-left: 10px;
width: 11.53%;
height: auto;
/* color: white; */
}

/* main part */
main{
  display: flex;
  height: 500px;
  max-width: 1440px;
}
main .main-1{
  padding: 20px;
  max-width: 50%;
  padding-top: 20px;
  padding-right: 0px;
}
main>img{
  width: 50%;
  height: 300px;
}
main form input[type=email]{
  height: 30px;
  border-radius: 4px;
}

/* section part */
section{
 background-image: url(/images/bg-curve-desktop.svg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 max-width: 1440px;
 height: 600px;
 justify-content: center;
}
section .section-1{
  max-width: 60%;
  padding: 20px;
  padding-top: 80px;
}
section>img{
  width: 40%;
  height: 450px;
  padding-top: 100px;
}
.box{
  background-color: white;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
}
span{
  float: right;
  font-size: 14px;
  padding-right: 90px;
}

/* aside part */
aside{
  display: flex;
  height: 200px;
  max-width: 1440px;
  background-color: hsl(238, 22%, 44%);
  align-items: center;
  color: white;
}
aside .aside-1{
  padding: 20px;
  width: 70%;
  padding-right: 500px;
}
aside form{
  width: 30%;
  padding: 20px;
}
aside form input[type=email]{
  width: 60%;
  height: 33px;
  border-radius: 4px;
  transition: width 2s;
}
aside form input[type=email]:hover{
  width: 100%;
}

/* footer part */
footer{
  background-color: hsl(243, 87%, 12%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  max-width: 1440px;
  /* align-items: center; */
}
footer div{
padding: 20px;
padding-top: 70px;
}
@media screen and (max-width:800px)
{
  aside .aside-1{
    padding-right: 0px;
  
  }
  aside>form input[type=button]{
    padding: 4px 0px;
  }
  aside form input[type=email]{
    height: 24px;
  }
  main form input[type=email]{
    height: 24px;
  }
}
